:root {
  --white: #ffffff;
  --black: #5d5d5d;
}

body {
  font-family: sans-serif;
  color: var(--black);
  background-color: var(--white);
  font-family: "Source Code Pro", monospace;
}

ul > li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav {
  /* background-color: red; */
  width: 95%;
  height: 70px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoText {
  font-size: 1.6rem;
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
  color: var(--black);
}

div > ul.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.navLinkItem {
  color: var(--black);
  font-family: "Source Code Pro", monospace;
  padding-bottom: 0.1rem;
}

.navLinkItem[aria-current="page"] {
  border-bottom: 3px solid var(--black);
}

/* Mobile nav */
.mobileNavListContainer {
  width: 100%;
  height: auto;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: relative;
  background-color: var(--white);
  /* background-color: green; */
  top: 89px;
  right: 131px;
  z-index: 1;
  margin: auto;
  padding: 0 5px;
}

.mobileNavList li {
  height: 100%;
  width: 100%;
  margin: 6px 0;
}

.mobileNavLinkItem a {
  width: 100%;
  display: block;
  color: var(--black);
  padding: 10px 0;
  font-size: .9rem;
}

hr {
  color: var(--black);
  opacity: 0.4;
}

#menuIcon,
#xIcon{
  display: none;
}


/* => Pseudo element, styles specific part of an element */

/* .navLinkItem::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  border-radius: 20%;
  background-color: var(--black);
  transition: width 0.25s ease-in-out;
}

.navLinkItem:hover::before {
  width: 100%;
  left: 0;
  right: auto;
} */

.siconocialIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

/* Grid Section */

.galleryParent {
  display: flex;
  flex-wrap: wrap;
}

.galleryGrid {
  columns: 3 auto;
  column-gap: 5px;
}

.galleryGrid img {
  width: 100%;
  padding-bottom: 5px;
}

/* About Page */

.aboutSectionParent {
  width: 90%;
  margin: 90px auto 30px auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.authorImageContainer {
  max-width: 50%;
}

.aboutText {
  display: flex;
  flex-direction: column;
}

.aboutAuthor {
  font-family: "Source Code Pro", monospace;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.contacts > a {
  color: var(--black);
  margin-bottom: 16px;
  text-decoration: underline;
}

.contact_socials {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 5px;
}

/* Inquiry Page */

.inquirySection {
  width: 95%;
  margin: 120px auto 30px auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.leftSide {
  font-family: "Source Code Pro", monospace;
  width: 40%;
}

.leftSideText {
  font-size: 0.9rem;
}

.inquiryContacts {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 14px;
}

.inquiryEmail,
.inquiryMobile {
  padding: 4px 0px;
  color: var(--black);
  width: fit-content;
}

.inquiryForm {
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formNames {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-size: 0.9rem;
}

input,
textarea,
button {
  width: 70%;
  border-radius: 3px;
  outline: transparent;
  border: 1px solid var(--black);
}

input {
  padding: 10px 0px;
}

button {
  width: fit-content;
  padding: 6px 20px;
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .aboutSectionParent {
    display: flex;
    flex-direction: column;
  }

  .authorImageContainer {
    max-width: 50%;
  }
}

@media only screen and (max-width: 950px) {
  .linkPages,
  .socialIcons {
    display: none;
  }

  #menuIcon{
    display: block;
  }

  #xIcon{
    display: none;
  }


  .aboutSectionParent {
    display: flex;
    /* flex-direction: column; */
  }

  .authorImageContainer {
    max-width: 100%;
  }

  .inquirySection {
    margin-top: 20px;
    flex-direction: column;
    gap: 50px;
  }

  .leftSide,
  .inquiryForm {
    width: 100%;
  }
}
