:root {
  --white: #ffffff;
  --black: #5d5d5d;
}

body {
  font-family: sans-serif;
  color: var(--black);
  background-color: var(--white);
  /* font-family: 'Source Code Pro', monospace; */
}

ul > li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav {
  /* background-color: red; */
  width: 95%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoText {
  font-size: 1.6rem;
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
  color: var(--black);
}

div > ul.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.navLinkItem {
  color: var(--black);
  font-family: "Source Code Pro", monospace;
  padding-bottom: .1rem;
}

.navLinkItem[aria-current="page"]{
    border-bottom: 3px solid var(--black);
}

/* => Pseudo element, styles specific part of an element */

/* .navLinkItem::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  border-radius: 20%;
  background-color: var(--black);
  transition: width 0.25s ease-in-out;
}

.navLinkItem:hover::before {
  width: 100%;
  left: 0;
  right: auto;
} */



.socialIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

/* Grid Section */

.galleryParent{
    display: flex;
    flex-wrap: wrap;
}

.galleryGrid{
    flex: 25%;
    max-width: 25%;
    flex-wrap: wrap;
}

.galleryGrid img{
    width: 100%;
    vertical-align: middle;
}


/* About Page */

.aboutSectionParent{
    width: 90%;
    margin: 90px auto  30px auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.authorImageContainer{
    max-width: 50%;
}

.aboutText{
    display: flex;
    flex-direction: column;
}

.aboutAuthor{
    font-family: "Source Code Pro", monospace;
} 


.contacts{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.contacts > a{
    color: var(--black);
    margin-bottom: 16px;
    text-decoration: underline;
}

.contact_socials{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 5px;
}
