:root {
  --white: #ffffff;
  --black: #5d5d5d;
}

body {
  font-family: sans-serif;
  color: var(--black);
  background-color: var(--white);
  font-family: "Source Code Pro", monospace;
}

ul > li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav {
  /* background-color: red; */
  width: 98%;
  height: 70px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoText {
  font-size: 1.6rem;
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
  color: var(--black);
}

div > ul.navLinks {
  /* background-color: greenyellow; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.navLinkItem {
  color: var(--black);
  font-family: "Source Code Pro", monospace;
  padding-bottom: 0.1rem;
}

.navLinkItem[aria-current="page"] {
  border-bottom: 3px solid var(--black);
}

.socialIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

/* Mobile nav */

.mobileNavListContainer {
  width: 100%;
  height: auto;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: relative;
  background-color: var(--white); 
  top: 89px;
  right: 131px;
  z-index: 1;
  margin: auto;
  padding: 0 5px;
}

.mobileNavList li {
  height: 100%;
  width: 100%;
  margin: 6px 0;
}

.mobileNavLinkItem a {
  width: 100%;
  display: block;
  color: var(--black);
  padding: 10px 0;
  font-size: .9rem;
}

hr {
  color: var(--black);
  opacity: 0.4;
}

.menuIconContainer{
  display: none;
}

#menuIcon,
#xIcon{
  display: none;
}


/* Grid Section */

.galleryParent {
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  margin: 0 auto;
}

.galleryGrid {
  columns: 3 auto;
  column-gap: 5px;
}

.blurredImg{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 5px;
  height: auto;
}


.blurredImg > img {
  max-width: 100%;
  padding-bottom: 3px;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

/* Load images smoothly */
.blurredImg.loaded > img{
  opacity: 1;
}

/* About Page */

.aboutSectionParent {
  width: 98%;
  margin: 90px auto 30px auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.aboutTitleContainer{
  width: 40%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.3rem;
  text-align: center;
  font-weight: 800;
}

.aboutText {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.aboutAuthor {
  font-family: "Source Code Pro", monospace;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.contacts > a {
  color: var(--black);
  margin-bottom: 16px;
  text-decoration: underline;
}

.contact_socials {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 5px;
}

/* Inquiry Page */

.inquirySection {
  width: 98%;
  margin: 120px auto 30px auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.leftSide {
  font-family: "Source Code Pro", monospace;
  width: 45%;
}

.leftSideText {
  font-size: 0.9rem;
}

.inquiryContacts {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  margin-bottom: 14px;
}

.inquiryEmail,
.inquiryMobile {
  padding: 4px 0px;
  color: var(--black);
  width: fit-content;
}

.inquiryForm {
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formNames {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-size: .9rem;
  margin-top: 12px;
}

input,
textarea,
button {
  width: 70%;
  border-radius: 3px;
  outline: transparent;
  border: 1px solid var(--black);
}

input {
  padding: 10px 0px;
}

button {
  width: fit-content;
  padding: 6px 20px;
  cursor: pointer;
}

@media only screen and (max-width:550px) {
  .galleryGrid{
    display: grid;
    grid-template-columns: 1fr;
  }

  .galleryGrid img{
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .aboutText{
    margin-top: -80px;
    font-size: .9rem;
  }

  .authorImageContainer {
    display: none;
  }

  .galleryGrid{
    columns: 2 auto;
  }
}

@media only screen and (max-width: 950px) {
  .linkPages,
  .socialIcons {
    display: none;
  }

  .menuIconContainer{
    display: block;
  }

  #menuIcon{
    display: block;
  }

  #xIcon{
    display: none;
  }

  .galleryGrid{
    columns: 2 auto;
  }

  .aboutSectionParent {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }

  .aboutTitleContainer {
    width: 100%;
    text-align: start;
    font-size: 1.5rem;
    margin-top: -30px;
  }

  .aboutText{
    width: 100%;
    margin-top: -80px;
  }

  .inquirySection {
    margin-top: 20px;
    flex-direction: column;
    gap: 50px;
  }

  .leftSide,
  .inquiryForm {
    width: 100%;
  }
}
