@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Prociono&family=Satisfy&display=swap");

.galleryPreview {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3.latestWork {
  text-align: center;
  font-family: "Lora", serif;
  font-size: 2rem;
}

.imgGrid {
  width: 98%;
  margin: 60px auto 10px auto;
  columns: 3 auto;
  column-gap: 12px;
}

.imgItem {
  margin-bottom: 12px;
  cursor: pointer;
}

button.viewMoreBtn {
  width: 99%;
  background-color: transparent;
  color: black;
  margin: 40px 0 10px 0;
  padding: 15px 40px;
  cursor: pointer;
  outline: transparent;
  border: 1px solid black;
  transition: background-color 300ms ease-in-out;
}

button.viewMoreBtn:hover {
  background-color: transparent;
  color: black;
}

.galleryText {
  text-align: center;
  margin: 50px 0px;
  color: #4f504d;
  font-weight: 300;
  font-size: 3rem;
  text-decoration: none solid rgb(79, 80, 77);
  font-family: "Satisfy", cursive;
}
