.lightBoxBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: slide;
  animation-duration: 0.3s;
}

.lightBox {
  width: 70%;
  padding: 10px;
  position: relative;
}

.counter-closeBtn{
  display: flex;justify-content: space-between;
  align-items: center;
}

.closeBtn {
  position: absolute;
  top: 30px;
  right: 50px;
  cursor: pointer;
  font-size: 2rem;
  color: #dedede;
  z-index: 888;
}

.imageCounter {
  position: absolute;
  top: 30px;
  left: 50px;
  z-index: 888;
  color: #dedede;
  font-family: "lora", serif;
  font-size: 1.2rem;
  font-weight: 600;
}

.modalContent {
  text-align: center;
}

.lightBoxImg {
  max-width: 100%;
  max-height: 90vh;
  height: auto;
  object-fit: contain;
  object-position: center;
  aspect-ratio: 1;
}

@keyframes slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.prevBtn,
.nextBtn {
  cursor: pointer;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
 .lightBox {
    width: 100%;
    height: 80%;
  }

.lightBoxImg {
    height: 100vh; /* 100% of the viewport height for mobile */
  }

  .prevBtn,
  .nextBtn{
    display: none;
  }
}
