@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Prociono&family=Satisfy&display=swap');

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navSection {
  width: 90%;
  margin: auto;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoText {
  color: white;
  font-size: 1.9rem;
  font-family: 'Times New Roman', Times, serif
}

ul.navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  font-family: 'Prociono', serif;
  color: white;
}

.navSocialIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.navLink {
  color: white;
}


.navLink.active{
  border-bottom: 2px solid black;
}