nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navSection {
  width: 90%;
  margin: auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoText {
  color: white;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

ul.navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  font-size: 0.9rem;
  color: white;
}

.navSocialIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.navLink {
  color: white;
}
