@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Prociono&family=Satisfy&display=swap");

.formSectionPage {
  width: 90%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.contactFormTitle {
  font-family: "lora", serif;
  color: #4f504d;
  font-size: 3rem;
  font-weight: 300;
  text-decoration: none solid rgb(79, 80, 77);
  margin-top: 40px;
}

.contactText {
  color: #4f504d;
  font-family: "lora", serif;
  font-size: 1.1rem;
  line-height: 30px;
  letter-spacing: 1px;
  width: 55%;
  margin: 40px auto 10px auto;
}

.contactsInquiry {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.mobileInquiry {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mobileInquiry > a {
  color: #4f504d;
}

.formSectionParent {
  height: 100vh;
  margin: 70px 0px 20px 0px;
  display: flex;
}

.formSection {
  width: 90%;
  margin: auto;
}

.formParent {
  width: 70%;
  margin: auto;
}

.form {
  width: 100%;
  margin: auto;
}

.inputParents {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.leftSide,
.rightSide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
label{
    font-family: "lora", serif;
    text-align: start;
    color: #4f504d;
    font-size: .9rem;
    display: block !important;
    width: 100%;
}
input.formInput {
  width: 100%;
display: block !important;
  padding: 12px;
  box-sizing: border-box;
    outline: transparent;
    font-family: "lora", serif;
    border: none;
    background-color: #dbdbdb;
    margin-top: 12px;
  }
  
input.formInput:focus {
    background-color: transparent;
      border: 1px solid #4f504d;
}

input.formInput::placeholder {
  padding-left: 10px;
}

textarea.formInput {
    padding: 12px;
    display: block;
    width: 100%;
    margin-top: 12px;
    box-sizing: border-box;
    border-style: none;
    outline: transparent;
    font-family: "lora", serif;
    background-color: #dbdbdb;
}

textarea.formInput:focus {
    background-color: transparent;
    border: 1px solid #4f504d;
}

textarea.formInput::placeholder {
  padding-left: 10px;
}

.formBtn {
  background-color: transparent;
  font-size: 0.9rem;
  padding: 16px 30px;
  font-weight: 400;
  color: var(--white);
  outline: transparent;
  border: 1px solid #4f504d;
  border-radius: 3px;
  width: 100%;
  margin: auto;
  cursor: pointer;
  transition: background-color 1s;
}

.formBtn:hover {
  background-color: #000000;
  color: whitesmoke;
}


@media only screen and (max-width:768px){

  .formSectionPage{
    width: 100%;
  }
  .contactFormTitle {
  font-size: 2rem;
  margin-top: 20px;
}

.contactText {
  font-size: .9rem;
  line-height: 23px;
  width: 90%;
  margin: 20px auto 10px auto;
}

.contactsInquiry {
  margin-top: 20px;
  flex-direction: column;
  gap: 20px;
}

.formSectionParent{
  width: 100%;
}

.formSection {
  width: 100%;
}

.formParent {
  width: 100%;
}

.form {
  width: 100%;
}

.inputParents {
  width: 100%;
  margin: auto;
}
.leftSide,
.rightSide {
  flex-direction: column;
}

}

@media only screen and (max-width:1010px){
  
.contactText {
  width: 90%;
  margin: 40px auto 10px auto;
}

.formSectionParent {
  height: auto;
  margin: 100px 0px 20px 0px;
}

.formParent {
  width: 90%;
}

.inputParents {
  width: 90%;
}

.leftSide,
.rightSide {
  gap: 30px;
} 

}